#projects {
    min-height: 100vh;
    background: url(../../img/background.jpg);
    background-size: cover;
}

.title {
    text-align: center;
    margin: 30px auto;
    padding-top: 50px;
    font-family: 'Amatic SC', cursive;
    color:#F15356;
    font-size: 3.5rem;
}

.cards-project {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    transform-style: preserve-3d;
    padding-bottom: 50px;
}

.card-project {
    position: relative;
    width: 350px;
    height: 500px;
    margin: 20px 50px;
    backdrop-filter: blur(14px);
    box-shadow: 5px 5px 10px 7px rgba(173, 173, 173, 0.444);
    border-radius: 20px;
    transform-style: preserve-3d;
    will-change: trasnform;
    transform: perspective(1000px), rotateX(0deg), rotateY(0deg) scale3d(1,1,1);
}

.card-project::before {
    content: 'PROJECT';
    position: absolute;
    top: 100px;
    left: 30px;
    font-size: 3rem;
    font-weight: 800;
    color: #fff;
    font-style: italic;
    opacity: 0;
    transition: .5s;
}

.card-project::after {
    content: 'YG';
    position: absolute;
    bottom: 100px;
    right: 30px;
    font-size: 3rem;
    font-weight: 800;
    color: #fff;
    font-style: italic;
    opacity: 0;
    transition: .5s;
}

.card-project:hover::before,
.card-project:hover::after {
    opacity: 0.5;
    transition: .5s;
}

.name-project {
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    color:#63c7fc;
    font-weight: bold;
    width: 100%;
    font-family: 'Amatic SC', cursive;
    font-size: 3rem;
    transform-style: preserve-3d;
    transform: translate3d(0,0,75px);
    transition: .5s;
    opacity: 0;
    z-index: 10;
}
.card-project:nth-child(1) .name-project {
    color: #63c7fc;
}
.card-project:nth-child(2) .name-project {
    color: #ff6969;
}
.card-project:nth-child(3) .name-project {
    color: #cbff8b;
}

.card-project:hover .name-project {
    opacity: 1;
    top: 30px;
}

.button-project a {
    height: 45px;
    padding: 10px 25px;
    border-radius: 6px;
    border: 2px solid #F15356;
    color: #F15356;
    font-size: 1.1rem;
    font-weight: 600;
    background: transparent;
    box-shadow: 5px 5px 9px 1px rgba(173, 173, 173, 0.444);
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    margin: 20px 10px;
}

.button-project a:hover {
    background: #F15356;
    color: #fff;
    transition: .4s;
}

.button-project {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform-style: preserve-3d;
    transform: translate3d(-50%,0,75px);
    transition: .5s;
    opacity: 0; 
    z-index: 10;
}

.card-project:hover .button-project {
    bottom: 40px;
    opacity: 1; 
}

.circle-project {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    transition: .5s;
    background: #f15356ad;
    transform-style: preserve-3d;
    z-index: 10;
    opacity: 0;
    transform: translate3d(-50%,-50%,50px);
}

.card-project img {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 300px;
    transition: .5s;
    z-index: 11;
    transform-style: preserve-3d;
    transform: translate3d(-50%,-50%,0px);
}

.card-project:nth-child(1) .circle-project,
.card-project:nth-child(1) .button-project a {
    background: #88d5ff;
    border: 1px solid #88d5ff;
    color: #fff;
}
.card-project:nth-child(2) .circle-project,
.card-project:nth-child(2) .button-project a {
    background: #ff6969;
    border: 1px solid #ff6969;
    color: #fff;
}
.card-project:nth-child(3) .circle-project,
.card-project:nth-child(3) .button-project a {
    background: #cbff8b;
    border: 1px solid #cbff8b;
    color: #fff;
}