.main {
    width: 100%;
    height: 100vh;
    background-image: url(../../img/background.jpg);
    background-size: cover;
    overflow: hidden;
}

.main-blur {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 80%;
    backdrop-filter: blur(14px);
    box-shadow: 5px 5px 9px 7px rgba(173, 173, 173, 0.444);
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
}

.main-left {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 2rem;
}

.main-name {
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;
    align-items: center;
}

.img-flecha {
    width: 160px;
}

.main-name h2 {
    color: #000;    
    font-weight: 600;
    font-size: 6.2rem;
    font-family: 'Amatic SC', cursive;
}

.main-name h4 {
    color: rgb(0, 0, 0);
    font-weight: 400;
    font-size: 20px;
}

.main-name h4 span {
    color:#F15356;
    font-weight: 600;
}

.main-button {
    width: 200px;
    height: 45px;
    padding: 10px 10px;
    border-radius: 6px;
    border: 2px solid #F15356;
    color: #F15356;
    font-size: 1.1rem;
    font-weight: 600;
    background: transparent;
    box-shadow: 5px 5px 9px 1px rgba(173, 173, 173, 0.444);
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    margin-top: 40px;
}

.main-button:hover {
    background: #F15356;
    color: #fff;
    transition: .4s;
}

.main-right {
    flex: 1;
}

.circle {
    position: relative;
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}

.img-circle {
    margin-bottom: 40px;
}

.circle span:nth-child(1) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #acd4ff;
    border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
    transition: 0.5s;
    animation: animate 6s linear infinite;
}

.circle:hover span:nth-child(1) {
    border: none;
    background: #acd4ff;
}

.circle span:nth-child(2) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #babcff;
    border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
    transition: 0.5s;
    animation: animate 4s linear infinite;
}

.circle:hover span:nth-child(2) {
    border: none;
    background: #babcff84;
}

.circle span:nth-child(3) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #edb6ff;
    border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
    transition: 0.5s;
    animation: animate 10s linear infinite;
}

.circle:hover span:nth-child(3) {
    border: none;
    background: #edb6ff6a;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.content {
    z-index: 1;
}

@media screen and (max-width: 1200px) {
    .circle {
        width: 400px;
        height: 400px;
    }
    .img-circle {
        width: 400px;
    }
    .main-name {
        margin: 0 30px;
    }
}
@media screen and (max-width: 980px) {
    .main-blur {
        display: grid;
        align-items: center;
    }
    .main-name>:nth-child(1) {
        font-size: 3rem;
    }
    .main-name>:nth-child(3) {
        font-size: 15px;
    }
    .img-flecha {
        width: 100px;
    }
    .circle {
        width: 300px;
        height: 300px;
        margin: 20px auto;
    }
    .img-circle {
        width: 300px;
    }
    .main-button {
        width: 140px;
        height: 35px;
        font-size: 12px;
        margin-top: 15px;
    }
    
}
