#about {
    background: #fff;
}

.cont-about {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 90px auto;
    width: 80%;
}

.circle-about {
    position: relative;
    display: flex;
}

.circle-about span {
    position: relative;
    width: 400px;
    height: 400px;
    background: #eaeef0;
    border: 6px solid #eaeef0;
    border-radius: 50%;
    box-shadow: -8px -8px 15px rgba(255,255,255,1),
    8px 8px 25px rgba(0,0,0,0.15);
    overflow: hidden;
}

.circle-about span::before {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: 50%;
    box-shadow: inset 10px 10px 20px rgba(0,0,0,0.5),
    inset -5px -5px 15px rgba(255,255,255,1);
}

.circle-about span::after {
    content: '';
    position: absolute;
    inset: 50px;
    background: #eaeef0;
    border: 3px solid #eaeef0;
    border-radius: 50%;
    box-shadow: -8px -8px 25px rgba(255,255,255,1),
    8px 8px 25px rgba(0,0,0,0.25),
    inset 3px 3px 10px rgba(0,0,0,0.15),
    inset -1px -1px 15px rgba(255,255,255,1);
}

.circle-about span i {
    position: absolute;
    inset: 0;
    border-radius: 50%;
    filter: blur(5px);
    background: linear-gradient(#acd4ff, #9fa2ff, #edb6ff);
    animation: animate 2.5s linear infinite;
}

.about-title {
    position: absolute;
    inset: 50px;
    z-index: 10;
    top: 163px;
    left: 122px;
    overflow: hidden;
}

.about-title {
    font-size: 4rem;
    text-transform: uppercase;
    color: #8589ff;
    font-weight: 600;
    font-family: 'Amatic SC', cursive;
}

.about-right p {
    font-size: 18px;
    line-height: 27px;
}

.about-right span {
    line-height: 35px;
    color: #8589ff;
    font-weight: 500;
    font-size: 19px;
}

@media screen and (max-width: 1000px){
    .cont-about {
        display: grid;
        align-items: center;
        justify-content: center;
    }
    .circle-about {
        align-items: center;
        justify-content: center;
    }
    .about-title {
    text-align: center;
    left: 39px;
}
.about-right {
    text-align: center;
}
}
@media screen and (max-width: 580px){
    .cont-about {
        display: grid;
        align-items: center;
        justify-content: center;
    }
    .circle-about span {
        position: relative;
        width: 300px;
        height: 300px;
        background: #eaeef0;
        border: 6px solid #eaeef0;
        border-radius: 50%;
        box-shadow: -8px -8px 15px rgba(255,255,255,1),
        8px 8px 25px rgba(0,0,0,0.15);
        overflow: hidden;
    }
    .about-title {
    font-size: 2.5rem;
    top: 125px;
    left: 50px;
    }

}
