#contact {
    background: #f9e1ff;
    padding: 50px 50px;
}

#contact h2 {
    text-align: center;
    font-family: 'Amatic SC', cursive;
    color:#F15356;
    font-size: 3.5rem;
    margin-bottom: 60px;
}

.contact-container {
    width: 70%;
    display: grid;
    grid-template-columns: 30% 58%;
    gap: 12%;
    margin-left: auto;
    margin-right: auto;
}

.options-contact {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.option-contact {  
    padding: 20px;
    border-radius: 1.2rem;
    text-align: center;
    line-height: 1.5rem;
    border: 1px solid transparent;
    transition: .3s;
    height: 20vh;
    color: #000;
}

.option-contact:nth-child(1) {
    background: #ffb0b1;
}
.option-contact:nth-child(2) {
    background: #edadff;
}
.option-contact:nth-child(3) {
    background: #ade2ff;
}

.option-contact i {
    font-size: 1.3rem;
    color:#000;
}

.option-contact h5 {
    font-weight: 500;
}

.vinculo-red {
    text-decoration: none;
    font-weight: 500;
    color: rgb(255, 255, 255);
}

form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    justify-content: center;
}

input, textarea {
    width: 100%;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background: transparent;
    border: 2px solid #F15356;    
    resize: none;
    color: #F15356;    
    font-size: 1rem;
}

::placeholder {
    color: #000635;    
    font-family: 'Montserrat';
}

.button-contact {
        width: 350px;
        height: 45px;
        padding: 10px 10px;
        border-radius: 6px;
        border: 2px solid #F15356;
        color: #F15356;
        font-size: 1.1rem;
        font-weight: 600;
        background: transparent;
        box-shadow: 5px 5px 9px 1px rgba(173, 173, 173, 0.444);
        cursor: pointer;
        text-decoration: none;
        text-align: center;
        margin-top: 40px;
}
  
.button-contact:hover {
    background: #F15356;
    color: #fff;
    transition: .4s;
}

@media screen and (max-width: 1024px) {
    .contact-container {
        grid-template-columns: 1fr;
        gap: 2rem;
    }
}

@media screen and (max-width: 600px) {
    .contact-container {
        width: 230px;
        align-items: center;
        justify-content: center;
    }
}

